<!DOCTYPE html>
<html>

<style>
    body {
        background-color: #1c1e24;
        color: white;
        font-family: sans-serif;
        text-align: center;
    }
    
    h1 {
        background-color: #101114;
        min-width: 30%;
        max-width: 70%;
        padding: 20px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        table-layout: fixed;
    }
    
    form {
        display: inline-block;
    }

    input {
        margin: 5px;
    }

    label {
        display: inline-block;
        width: 50px;
    }
    
    .form-button {
        border-radius: 5px;
        background-color: #bebebe;
        border-style: none;
        padding: 5px;
    }
    
    .form-button:hover {
        background-color: white;
    }

    table,
    th,
    td {
        background-color: #101011;
        border: 2px solid black;
        border-collapse: collapse;
        border-color: #5e5e69;
        padding: 5px;
    }

    header {
        background-color: red;
        padding: 20px;
    }
</style>

<body>
    {{ if .ErrorMessage }}
    <header><b>{{ .ErrorMessage }}</b></header>
    {{ end }}

    <h1>Welcome to the Club!</h1>

    <h2><b>New member</b></h2>
    <form method="POST">
        <label for="name"><b>Name:</b></label>
        <input type="text" name="name"><br>
        <label for="email"><b>Email:</b></label>
        <input type="text" name="email"><br>
        <input type="submit" value="Add" class="form-button">
        <input type="reset" value="Clear" class="form-button">
    </form>

    <h2>Members</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Registration date</th>
        </tr>
        {{ range .Members }}
        <tr>
            <td>{{ .Name }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .RegistrationDate }}</td>
        </tr>
        {{ end }}
    </table>
</body>

</html>